body
{
	background-color:  whitesmoke;
	opacity: 0.8;
}
h1
{
    text-align: center;
}
#block
{
    width: 55%;
    margin:0 auto;
    background-size:cover;
    text-align:center;
    align-content:center;
    font-family: Verdana;
}
/*logo*/
div
{
	text-align: left;
}
#noms
{
	list-style-type: none ;
    text-align: center;
    font-family: Verdana;
}

/*barre de menu*/
/*
:root{
  --hauteur-menu: 60px;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: Montserrat, sans-serif;
}

nav {
  width: 100%;
  font-size: 18px;
  position: sticky;
  top: 0;
}

nav > ul {
  display: flex;
  text-align: center;
  box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.3);
  height: var(--hauteur-menu);
}

nav ul {
  list-style-type: none;
}

nav > ul > li {
  background-color: white;
  position: relative;
  height: 100%;
  flex: 1;
}

nav > ul > li:hover > a{
  color: #2169EC;
}

nav > ul > li > a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

li a {
  text-decoration: none;
  color: black;
}

.menu-deroulant > a:after{
  content: '❯';
  font-size: 15px;
  margin-left: 7px;
  display: inline-block;
}

.menu-deroulant:hover > a:after{
  animation: rotationFleche 0.2s linear forwards;
}

@keyframes rotationFleche {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(45deg);
  }
  100%{
    transform: rotate(90deg);
  }
}

.sous-menu {
  margin-top: var(--hauteur-menu);
  width: 100%;
  text-align: left;
  overflow: hidden;
  max-height: 0;
  border-radius: 2px;
  background-color: white;
}

.menu-deroulant:hover > .sous-menu {
  animation: apparitionSousMenu 1s forwards;
}

@keyframes apparitionSousMenu {
  0% {
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
    border-top: 3px solid #2169EC;
  }
  30% {
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
  }
  100% {
    max-height: 50em;
    border-top: 3px solid #2169EC;
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
  }
}

.sous-menu > li:hover {
  background-color: rgba(33, 105, 236, 0.3);
}

.sous-menu > li > a {
  align-items: center;
  display: flex;
  height: 50px;
  padding-left: 20px;
  width: 100%;
}

.sous-menu > li:hover > a {
  color: white;
}
*/
/*archives*/
#archives 
{
    width: 40%;
    padding: 0 0; 
    margin: 0 0;    
    overflow: hidden;
    background-color: royalblue;
}
#archives ul 
{
    list-style-type: none;
}

#archives li 
{
    list-style: none;   
    float: center;
}
#archives  a 
{
    padding: 2% 0;
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: 5px solid #fff;       /* Ajout d'une bordure */
    border-radius: 4px;           /* Arrondis des bordures */
}

#archives li a:hover 
{
    padding: 2% 0;
    width: 100%;
    background: darkslateblue;
    list-style: none;
    float: center;
}

/*barre de menu*/
.menu 
{
    display: flex;                  /* Transformation en flexbox */
    padding:0;                      /* Suppression des marges internes */
    background-color:whitesmoke ;    /* couleur d'arrière-plan */
    justify-content: center;        /*alignement des liens*/
}
.menu li 
{

    list-style-type: none ;    /* Suppression des pts des listes */
}
.menu a 
{
    display:block;                /* Transformation en block */
    min-width: 400px;             /* Largeur minimale des liens */
}
.menu a 
{
    display:block;                /* Transformation en block */
    min-width: 150px;             /* Largeur minimale des liens */   
    
    margin: 1.0rem;               /* Marges externes (1 valeurs = 4 directions) */
    padding: 0.9rem 0;            /* Marges internes (2 valeurs = haut/bas et gauche/droite)*/
    text-align: center;           /* Centrage du texte */   
    background-color: royalblue;    /* Couleur d'arrière-plan */
    color: whitesmoke;            /* Couleur du texte */
    text-decoration: none;        /* Suppression du soulignement */
    border: 1px solid #fff;       /* Ajout d'une bordure */
    border-radius: 4px;           /* Arrondis des bordures */
}
.menu a:hover /* effet de survol sur les liens*/
{
  background-color: darkslateblue;
  color: whitesmoke;
  border-color: whitesmoke;
}

#text
{
    height: 200px;
    width: 900px;
    border: 4px solid royalblue;
    text-align: center;
    align-content: center;
    border-radius: 4px;           /* Arrondis des bordures */
    margin: 1.0rem;               /* Marges externes (1 valeurs = 4 directions) */
    padding: 0.5rem 0;            /* Marges internes (2 valeurs = haut/bas et gauche/droite)*/
    background-color: whitesmoke;

}
#noms
{
    list-style-type: none ; 
    text-indent: 50px;
    height: 100px;
    width: 250px;
    border: 4px solid royalblue;
    text-align: left;
    align-content: center;
    border-radius: 4px;           /* Arrondis des bordures */
    margin: 1.0rem;               /* Marges externes (1 valeurs = 4 directions) */
    padding: 0.9rem 0;         /* Marges internes (2 valeurs = haut/bas et gauche/droite)*/
    padding-left: 0;
    background-color: whitesmoke;
}